@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=VT323');
body {
  background-color: #396070;
}

p {
  color:#008000;
}
a {
  color: #C46474;
  font-family: 'VT323', monospace;
  font-size: 30px;
  
}
a:hover {
  color: #B196CC;
}
li {
  color: #D870C0;
}
h1 {
  color: #E074AC;
 font-family: 'Cabin Sketch', cursive;
}
h2 {
  color: #3cB371;
  font-family: 'Amatic SC',cursive;
}
h3 {
  color: #b9d000;
  font-family: 'Amatic SC',cursive;
  font-size: 50px;
}
h5 {
  color: #ffdbbe;
}
.box1 {
  background-color: blue;
  width: 350px;
  height: 400px;
}

.box2 {
  background-color: pink;
  width: 50%;
  height: 60%;
}

.fenty {
  float: left;
  width: 50%;
}

.riri {
  float: right;
  width: 50%;
}
.parent{
  background-color: #c0d3b5;
  width: 100%;
  height: 500px;
}
.make {
  background-color: #c0debe;
  float: left;
  width: 50%;
}

.up {
  background-color: #c0debe;
  float: right;
  width: 50%;
}
h4{
  height: 50px;
  padding-top: inherit;
  position: relative;
  text-align: center;
  color:  white;
  font-size: 50px;
  font-family: fantasy;
}
.header{
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
  font-size: 50px;
}
.latar{
  background-color: #90EE90;
  float: left;
  width: 50%;
}
.produk{
  background-color: #90EE90;
  float: left;
  width: 50%;
}
.pemasaran{
  background-color: #90EE90;
  float: left;
  width: 50%;
}
.aneka{
  background-color: #90EE90;
  float: left;
  width: 50%;
}
.footer{
  background-color: #3CB371;
  float: right;
  width: 50%;
}
.maps{
 float: left;
 width:50%;
}
