body {
  background-color: #C65139;
}

p {
  color: #827F3B;
}
a {
  color: cream;
}
a:hover {
  color: #B196CC;
}
li {
  color: banana;
}
h1 {
  color: coral;
}
h2 {
  color: #febbbb;
}
h5 {
  color: #EADA4B;
}
