@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
  background-color: #396070;
}

p {
  color: #827F3B;
}
a {
  color: #C46474;
}
a:hover {
  color: #B196CC;
}
li {
  color: #D870C0;
}
h1 {
  color: #E074AC;
  font-family: 'Indie Flower', cursive;
}
h2 {
  color: #febbbb;
}
h5 {
  color: #EADA4B;
}
