.parent{
  background-image: url(https://www.artsfon.com/pic/201408/1440x900/artsfon.com-2864.jpg);
  background-repeat: no-repeat;
  width:500%;
  height: 1000px;
}
.anak1{
  background-image: url(https://www.fentybeauty.com/dw/image/v2/AAXW_PRD/on/demandware.static/-/Sites-FENTY-Library/default/v1540322345125/homepage/Hol18_Featured_Highlight.jpg);
  background-repeat: no-repeat;
  height: 100%;
}
