.parent{
  background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/70/07/2957b586d5da664.jpg);
  background-repeat: no-repeat;
  width:500%;
  height: 1000px;
}
.anak1{
  background-image: url(https://www.fentybeauty.com/dw/image/v2/AAXW_PRD/on/demandware.static/-/Sites-FENTY-Library/default/v1540322345125/homepage/Hol18_Featured_Highlight.jpg);
  background-repeat: no-repeat;
  height: 100%;
}
body {
    display: block;
    margin: 8px;
}
